<nav class="navbar navbar-findyourbalance">
  <div class="container-fluid">
  </div>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sideNavigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!--<div class="collapse navbar-collapse" id="sideNavigation">-->
    <!--<ul class="nav navbar-nav">-->
      <!--<li><a href="#mainColumn-header">Main column</a></li>-->
      <!--<li><a href="#extraColumn-header">Side column</a></li>-->
      <!--<li><a href="#sideColumn-header">Extra column</a></li>-->
    <!--</ul>-->
  <!--</div>-->
</nav>
