@import "colors";

/***************************/
/** Font Classes   **/
/***************************/

.ft-mainTitle {
  font-style: Anton
  font-size: 6em;
  text-transform: uppercase;
  color: $black;
}

.ft-dot {
  font-style: Lobster
  font-size: 15em;
  color: $orange;
}

.ft-subTitle {
  font-style: Anton
  font-size: 4em;
  text-transform: uppercase;
  color: $black;
}

.ft-column-title {
  font-style: Lobster
  font-size: 3em;
  color: $black;
}

.ft-mainColumn-title {
  font-style: Raleway
  font-size: 3em;
  text-transform: uppercase;
  color: $orange;
}

.ft-mainColumn-content {
  font-style: Georgia
  font-size: 36pt;
  color: $orange;
}

.ft-sideColumn-title {
  font-style: Raleway
  font-size: 2em;
  text-transform: uppercase;
  color: $orange;
}

.ft-sideColumn-content {
  font-style: Georgia
  font-size: 2em;
  color: $orange;
}

.ft-extraColumn-title {
  font-style: Raleway
  font-size: 1.6em;
  text-transform: uppercase;
  color: $orange;
}

.ft-extraColumn-content {
  font-style: Georgia
  font-size: 1.6em;
  color: $orange;
}

/***************************/
/** Responsive sizes      **/
/***************************/

/* Large desktop */
@media (min-width: 1200px) {

  html {
  font-size: 12px;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 1200px) {

  html {
  font-size: 10px;
  }

}

/* Phones */
@media (max-width: 480px) {

  html {
  font-size: 8px;
  }

}