@import "colors";

/***************************/
/** General definitions   **/
/***************************/

.ft-title {
  font-size: 1.5em;
  text-transform: uppercase;
  color: $black;
}

.ft-title-dot {
  font-size: 1.5em;
  color: $orange;
}

/***************************/
/** Responsive sizes      **/
/***************************/

/* Large desktop */
@media (min-width: 1200px) {

  .ft-title {
    font-size: 1.5em;
  }

  .ft-title-dot {
    font-size: 1.5em;
  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  .ft-title {
    font-size: 1.2em;
  }

  .ft-title-dot {
    font-size: 1.2em;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  .ft-title {
    font-size: 1em;
  }

  .ft-title-dot {
    font-size: 1em;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  .ft-title {
    font-size: .9em;
  }

  .ft-title-dot {
    font-size: .9em;
  }

}